body{
    background-color: #fff;
}
nav {
    margin-top: 15px;
}
.card{
    margin-top: 15px;
}

.card-img{
    height: 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-img, .card_author, .card-date, .card-descr{
    margin-bottom: 10px;
}

.form_g{
    margin-bottom: 15px;
}
.card-img_max{
    height: 500px;
}
.card-btn {
    display: flex;
}
.card-btn a{
    margin-right: 10px;
}
.card-header{
    margin: auto;
  width: 50%;
  padding: 10px;
}
.mybut{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cat{
    height: 500px;
}